:root {
    --negro: #333;
    --verde: #017143;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--negro);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .Textbox {
    position: relative;
    max-width: 600px;

}

.content .Textbox h2 {
    color: var(--negro);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .Textbox h2 span {
    color: var(--verde);
    font-size: 1.2em;
    font-weight: 900;
}

.content .Textbox p {
    color: var(--negro);
}

.content .Textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--verde);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgbox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgbox img {
    max-width: 340px;
    max-height: 550px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}

.redes-sociales {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociales li {
    list-style: none;
}

.redes-sociales li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--verde);
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    section {
        padding: 20px 20px 120px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .Textbox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .Textbox {
        max-width: 100%;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }

    .content .imgbox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgbox img {
        max-width: 300px;
        max-height: 435px;
    }

    .thumb li img {
        max-width: 50px;
    }

    .redes-sociales {
        background: var(--verde);
        position: fixed;
        right: 0;
        width: 40px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(img/menu.png);
        filter: invert(1);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }

    .toggle.active {
        background: url(img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;        
        filter: invert(0);
        position: fixed;
        right: 20px;
    }

    ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }


     header ul li a {
         font-size: 1.5em;
         margin: 5px 0;
     }
}